* {
  padding: 0;
  margin: 0;
}
.name {
  padding: 20px 80px;
  height: 20vh;
  background-color: rgb(114, 8, 105);
  text-shadow: 3px 3px 4px;

  color: aliceblue;
  font-size: 50px;

  p {
    padding: 10px;
    padding-left: 100px;
    margin: 10px 20px;
    text-shadow: 3px 3px;
  }
}

.tasks {
  padding: 10px 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: rgba(236, 16, 225, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  align-items: center;
  justify-content: flex-start;
  margin-left: 950px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 80px;
}
.todoBody {
  background: url(images/bg.png) no-repeat;
  height: 75.4vh;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  h1 {
    min-width: 620;
    width: 600px;
    height: 30px;
    font-size: 50px;
    text-align: center;
    color: rgb(114, 8, 105);
    margin-top: 15px;
  }
}

.AddTodo {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  p {
    font-size: 45px;
    margin-top: 27px;
    margin-left: 40px;
    font-weight: bold;
    margin-right: 20px;
  }
  input{
    width: 300px;
    height: 30px;
    margin-top:40px;
    border: 20px rgb(114, 8, 105);
    font-size: 20px;
  }
  button {
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(126, 8, 120);
    border-radius: 20px;
    width: 50px;
    height: 40px;
    margin: 30px;
    cursor: pointer;
    color: #000000;
    border: none;
    /* margin-left: 100px; */
  }
  button:hover {
    background-color: rgba(126, 8, 120, 0.829);
    width: 60px;
  }
}

.userDetails {
  background-color: rgba(126, 8, 120, 0.829);
  height: 300px;
  width: 520px;
  margin-left: 50px;
  border-radius: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;

  input{
    margin-top: 10px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    border-radius: 15px;
  }
  button{
    background-color: rgba(211, 131, 207, 0.3);
    margin-top: 40px;
    padding: 15px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    color: #040404;
    font-size: 30px;
  }
   button:hover {
    background-color: rgba(201, 182, 200, 0.521);
    width: 150px;
  }
}

    
  
 