* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

body {
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 20px;
}
.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #54bd95;
  font-size: 130px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav a {
  display: flex;
  align-items: center;
  justify-self: center;
  text-decoration: none;
  margin-left: 5rem;
  font-size: 35px;
  color: rgb(107, 104, 104);
}
.nav a:hover {
  color: #000;
  font-weight: bold;
}

.login {
  background-color: transparent;
  border: 0;
  border-radius: 15px;
  padding: 20px 20px;
  color: #888c90;
  font-size: 30px;
}
.login:hover {
  background-color: transparent;
  color: #535658;
}
.signup {
  background-color: #54bd95;
  border: 0;
  border-radius: 15px;
  padding: 20px 20px;
  color: #f9fafb;
  font-size: 30px;
}

.signup:hover {
  background-color: #2e936d;
}


.hero-section {
  display: flex;
  margin-top: 150px;
  width: 100%;
  height: 60vh;
  align-items: center;
}
.hero-text {
  padding: 0px 0px;

}
.hero-text h1 {
  font-size: 130px;
  line-height: normal;
}
.hero-img {
  margin: 0px 0px;
  height: 70%;
   width: 30%; 
}
.deco img{
  width: 75%;
  height: 100%;
  margin-left: 5px;
}

.sub-text {
  display: flex;
  font-size: 33px;
  margin-bottom: 100px;
}

.trial {
  background-color: #54bd95;
  border: 0;
  border-radius: 15px;
  padding: 20px 20px;
  color: #f9fafb;
  font-size: 30px;
}

.demo{
  background-color: transparent;
  border: none;
  
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  font-size: 35px;
}
.hero-img img{
  width: 150%;
  height: 150%;
}
.trial {
  background-color: #54bd95;
  border-radius: 30px;
  width: 10%;
  height: 80px;
  padding: 10px;
  font-size: 20px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 48px;
  align-items: center;
  padding: 0px 20px; /* top and bottom 0px left and right 20px */
  margin-bottom: 30px;
}

.view-demo {
  display: flex;
  gap: 5px;
  button {
    font-size: 20px;
  }
  img {
    width: 30px;
  }
}
.hero-button {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.subHero-section {
  font-size: 20px;
  h2 {
    font-size: 40px;
  }
  div {
    a {
      img {
        width: 2000px;
      }
    }
  }
}

footer div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  a {
    display: flex;
    gap: 5px;
    img {
      width: 100%;
      height: 20px;
    }
  }
}
.imgSub {
  width: 200px;
}
/* Product Section */
.product {
  display: flex;
  gap: 30px;
  padding: 50px 0px;
  background-color: #f9f8fe;
}
.rating-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}
.rating {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  img {
    width: 100px;
  }
  button {
    align-self: flex-start;
    color: gray;
    font-size: medium;
  }
}
.five-rating {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  img {
    width: 210px;
  }
  p {
    font-size: 30px;
  }
  button {
    font-size: 25px;
  }
}
.rating-head {
  font-size: 70px;
  font-weight: bold;
  width: 70%;
}
.subRatingHead {
  font-size: 35px;
}
.publish-analytic-engage {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

.box {
  align-items: flex-start;
  p {
    /* line-height: 30px; */
    font-size: 30px;
  }
}
.box div {
  display: flex;

  h4 {
    font-size: 20px;
  }
}

.imgBox {
  display: flex;

  img {
    width: 20px;
  }
}

/* faq Section */
.faq-section {
  padding: 20px 20px;
}
.faqTop {
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  gap: 40px;
  align-items: center;
  button {
    background-color: #54bd95;
    width: 250px;
    border-radius: 15px;
    height: 40px;
  }
  h1 {
    font-size: 70px;
    width: 33%;
  }
  p {
    width: 33%;
    color: #a6a6a6;
    font-size: 30px;
  }
}
.faqBottom {
  display: flex;
  margin: 40px 20px;
  background-color: #f9f8fe;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 10px;
  }
  p {
    color: #a6a6a6;
    font-size: 50px;
  }
}
.subFaq {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 30%;
  p {
    font-size: 30px;
  }
}
/* Blog Section */

.blogSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    padding-bottom: 20px;
    font-size: 70px;
  }
  p {
    font-size: 40px;
    padding-bottom: 10px;
  }
}
/* About Us Section */
.aboutUs-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px 0px;
}
.aboutUs-section h2 {
  font-size: 60px;
  text-align: center;
  span {
    display: block;
  }
}
.subAbout {
  color: #a6a6a6;
  font-weight: 800;
}

.aboutUs-section p {
  font-size: 18px;
}
.bill {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.bill-button {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.bill-button button {
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 20px;
}
.bill-yearly {
  background-color: #54bd95;
  color: #fff;
}
.billPlan {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.subPlanSection {
  background-color: white;
  padding: 25px;
  flex: 1;
  border-radius: 15px;
}
.subPlan {
  text-align: center;
  padding: 5px 30px;

  h4 {
    margin-bottom: 5px;
    font-size: 20px;
  }
}
.value {
  margin-top: 5px;

  span {
    font-size: 30px;
    margin-left: 2px;
  }
  sup {
    font-size: 18px;
    color: #a6a6a6;
  }
}

.subPlanList {
  background-color: #f9fafb;
  padding: 25px;
  border-radius: 15px;
  p {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
    img {
      align-self: flex-start;
    }
  }
}
.planButton {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  font-size: 16px;
}
.middleSubPlanSection {
  background-color: #54bd95;
  height: 530px;
}
.middleButton {
  background-color: #54bd95;
}
/* Review */
.reviewSection {
  background-color: #161c28;
  color: #a6a6a6;
  padding-top: 20px;
  padding: 5% 5%;
  footer {
    display: flex;
    padding: 0px 0px;
  }
}

.upperReviewSection {
  display: flex;
  gap: 50px;
}

.leftUpperBox {
  width: 45%;
  padding: 20px 30px;

  h1 {
    color: #ffffff;
    font-size: 60px;
    padding-bottom: 10px;
    font-weight: 30px;
  }
  p {
    padding-bottom: 15px;
    font-size: 20px;
  }
  img {
    width: 10%;
    height: 10%;
    padding-bottom: 20px;
  }
  button {
    background-color: transparent;
    border: none;
    color: #a6a6a6;
  }
}

.right-upperbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border-radius: 20px;
  background-color: #222938;
  padding: 5% 5%;
  justify-content: space-between;
  button {
    background-color: #54bd95;
    width: 315px;
    border-radius: 15px;
    height: 60px;
  }
  img {
    width: 100px;
  }
  input {
    padding: 2% 10%;
    font-size: 20px;
  }
  .left-images {
    width: 1050px;
    align-items: center;
  }
  .getStarted {
    padding-bottom: 10%;
    p {
      font-size: large;
      font-weight: 150px;
      color: #ffffff;
    }

    img {
      padding-bottom: 10px;
      width: 20%;
    }
  }
  .getMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
      color: #f9fafb;
      font-weight: 20px;
    }
    input {
      width: 250px;
      border-radius: 10px;
      height: 50px;
    }
  }
  .reviewBottom {
    display: flex;
    
    padding: 20px 20px;
    padding-top: 50px;
  }
}
  /* .bottomRight {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .subBottomRight {
    padding-left: 30px;
    background-color: green;
    h4 {
      font-weight: 50px;
      padding-bottom: 10px;
    }
    p {
      padding-bottom: 10px;
    }
  }
} */
